<!-- this is the markup. you can change the details (your own name, your own avatar etc.) but don’t change the basic structure! -->

<aside class="profile-card">
      <header>
        <!-- here’s the avatar -->
        <a (click)="goToProfile()">
          <img [src]="currentFollower.profilePic_url">
        </a>
        <!-- the username -->
        <h1>{{currentFollower.FirstName}} {{currentFollower.LastName}}</h1>
      </header>
      <div class="profile-bio">
        <p>{{currentFollower.bio}}</p>
        <p ><button *ngIf="isFollowing" class="nav-btn-outline my-2 my-sm-0 followBtn1" (click)="unfollowUser()">unfollow</button></p>
        <p  ><button *ngIf="!isFollowing"  class="nav-btn-outline my-2 my-sm-0 followBtn1" (click)="followUser()">follow</button></p>
      </div>
  </aside>