<div>
    <h2>New to Faragni? Join Us!</h2>
    <input placeholder="First Name.." type="text" class="form-control" name="username" [(ngModel)]="model.UserName" required />
    <input placeholder="Email.." type="text" class="form-control" name="username" [(ngModel)]="model.Email[0]" required />
    <input placeholder="Password.." type="password" class="form-control" name="password" [(ngModel)]="model.Password" required />
    <button [disabled]="loading" class="btn btn-outline btn-lg btn-block" (click)="register()">Register</button>
</div>
