<div class="wdth-md">
    <h2>New to Faragni? Join Us!</h2>
    <input placeholder="Username.." type="text" class="form-control" [(ngModel)]="model.UserName" required />
    <input placeholder="Email.." type="text" class="form-control" [(ngModel)]="email" required />
    <input placeholder="Password.." type="password" class="form-control" [(ngModel)]="model.Password" required />
    <button [disabled]="loading" class="btn btn-outline btn-lg btn-block" (click)="register()">Register</button>
</div>
