<nav id="mainNav" class="navbar navbar-expand-lg fixed-top" role="navigation">
  <div class="container">
    <a class="navbar-brand" href="/">Faragni</a>
    <button [ngClass]="{'nav-tab my-2 my-sm-0': true, 'nav-tab-active my-2 my-sm-0': currentScreen == '1'}" (click)="chooseScreen(1)">Movies</button>
    <button [ngClass]="{'nav-tab my-2 my-sm-0': true, 'nav-tab-active my-2 my-sm-0': currentScreen == '2'}" (click)="chooseScreen(2)">Activity</button>
    <button [ngClass]="{'nav-tab my-2 my-sm-0': true, 'nav-tab-active my-2 my-sm-0': currentScreen == '3'}" (click)="chooseScreen(3)">Friends</button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
      </ul>
      <form class="form-inline">
        <input *ngIf="!hide" class="form-control" type="search" placeholder="Search" aria-label="Search">
        <button class="nav-btn-outline my-2 my-sm-0" (click)="toggleModal()" *ngIf="hide">Sign in</button>
        <div class="btn-group">
          <button class="nav-btn-outline my-2 my-sm-0" *ngIf="currentUser != null"
                  data-toggle="dropdown" aria-haspopup="true">Hello {{currentUser.UserName}}!</button>
              <div class="dropdown-menu">
                  <span data-toggle="dropdown"></span>
                  <a class="dropdown-item">Profile</a>
                  <a class="dropdown-item">Friends</a>
                  <a class="dropdown-item">Movies</a>
                  <a class="dropdown-item">Settings</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" (click)="logout()">Logout</a>
              </div>
        </div>
      </form>
    </div>
  </div>
</nav>
