<nav class="navbar navbar-expand-lg fixed-top" id="mainNav" role="navigation">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="/">Faragni</a>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <!--<input class="form-control mr-sm-2" style="background-color: rgba(245,245,245, 0.1);" type="search" placeholder="Search for movies" aria-label="Search">-->
        <button class="btn nav-btn-outline my-2 my-sm-0" routerLink="/login">Sign in</button>
      </form>
    </div>
  </div>
</nav>
