.rated-movie-card{
    width: inherit;
    height: 230px;
    max-height: 230px;
    margin-bottom: 20px;
    // margin: 15px;
    position: relative;
    background-color: white;    
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3), 0 5px 3px rgba(0, 0, 0, 0.2);    
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    color: #7b4397;
}

.rated-movie-card:hover{
    box-shadow: 0 9px 18px rgba(0, 0, 0, 0.6), 0 10px 8px rgba(0, 0, 0, 0.5);    
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

.rated-movie-card img{
    height: 100%;
    width:20%;
    float: left;
    position: absolute;
}

.padd-here{
    padding-left: 20px;
    padding-bottom: 10px;
}

.rate{
    color:white;
    right: 0;
    top:0;
    min-width: 5%;
    background-color:  #7b4397;  
    text-align: center;
    font-size: 15px; 
    width:5%;
    padding: 3px;
    border-radius: 100%;
}
 
span{
    font-size: 15px;
}

.rated-movie-card .content{
    padding: 15px;
    height: 100%;
    width:80%;
    float: right;
    position: relative;
}

.rated-movie-card .content .title{
    font-size: 17px;
    font-weight: bolder;
    width: auto;
    .date{
        font-size: 5px;
    }
    cursor: pointer;
}

.close{
    float: right;
    cursor: pointer;
    font-size: 27px;
    font-weight: bolder;
    color:#7b4397;
    position: absolute;
    top:0;
    right:0;
    padding: 10px;
}

.rated-movie-card .content .plot{
    font-size: 15px;
    white-space: pre-line;    
}

.genre{
    font-weight: 200;
    color: white;
}

.rated-movie-card .content .rating{
    padding-top: 20px;
    -webkit-text-fill-color: #7b4397;
    float: left;
    bottom: 0;
    position: absolute;
    padding-bottom: 20px;
}

// tooltip
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}
// tooltip

.padd-modal{
    padding: 8%;
  }

  .no-padd-modal{
    padding: 0;
  }

  .row-modal{
    width:100%;
    height: 350px;
  }
  .col-30-modal{
    width:30%;
    height: 100%;
    float: left;
  }
  .col-70-modal{
    width:70%;
    text-align: center;
    background-color: white;
    float: right;
    height: 100%;
  }

  .movie-poster-modal{
    width: 100%;
    height: 100%;
  } 
  .genre-modal{
    font-size: 13px;
}

.plot-modal{
    font-size:17px;
}

a.imdbLink{
    text-decoration: underline;
}
a.imdbLink:hover{
    text-decoration: underline;    
}

.pointer{
    cursor: pointer;
}