.rated-movie-card{
    width: 80%;
    height: 310px;
    max-height: 310px;
    margin: 15px;
    position: relative;
    background-color: white;    
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3), 0 10px 7px rgba(0, 0, 0, 0.2);    
    -webkit-transition: all 0.9s;
    transition: all 0.9s;
    color: #7b4397;
}

.rated-movie-card:hover{
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.6), 0 20px 17px rgba(0, 0, 0, 0.5);    
}

.rated-movie-card img{
    height: 100%;
    width:32%;
    float: left;
    position: absolute;
}

.padd{
    padding-left: 20px;
    padding-bottom: 10px;
}

.rate{
    color:white;
    right: 0;
    top:0;
    min-width: 5%;
    background-color:  #7b4397;  
    text-align: center;
    font-size: 25px; 
    width:5%;
    padding: 3px;
    border-radius: 100%;
}
 
span{
    font-size: 15px;
}

.rated-movie-card .content{
    padding: 20px;
    height: 100%;
    width:68%;
    float: right;
    position: relative;
}

.rated-movie-card .content .title{
    font-size: 27px;
    font-weight: bolder;
    .date{
        font-size: 15px;
    }
}

.rated-movie-card .content .plot{
    font-size: 15px;
    padding-top: 20px;
}

.genre{
    font-weight: 400;
    color: white;
}

.rated-movie-card .content .rating{
    padding-top: 20px;
    -webkit-text-fill-color: #7b4397;
    float: left;
    bottom: 0;
    position: absolute;
    padding-bottom: 20px;
}