<div class="rated-movie-card">
  <img src="{{currentMovie.Poster}}">
  <div class="content">
    <div class="title">
      {{currentMovie.Title}} <span class="date">{{currentMovie.Released}}</span>
    </div>
    <span *ngFor="let genre of currentMovie.Genres" class="badge badge-pill purple genre">
      {{genre.Name}}
    </span>    
    <div class="plot">
      {{currentMovie.Plot}}
    </div>
    <div class="rating">
      <star-rating-comp [hoverEnabled]="true" [labelText]="'Your Rating:'" 
      [numOfStars]="5" [labelPosition]="'left'" [starType]="'icon'" 
        [rating]="currentMovieRating.Rating" (onClick)="saveNewRating($event)"></star-rating-comp>
    </div>
  </div>
</div>