<!-- this is the markup. you can change the details (your own name, your own avatar etc.) but don’t change the basic structure! -->

<aside class="profile-card">
        
          <header>
        
            <!-- here’s the avatar -->
            <a href="#">
              <img [src]="currentUser.profilePic">
            </a>
        
            <!-- the username -->
            <h1>{{currentUser.FirstName}} {{currentUser.LastName}}</h1>
        
            <!-- and role or location -->
        
          </header>
        
          <!-- bit of a bio; who are you? -->
          <div class="profile-bio">
        
            <p>{{currentUser.bio}}</p>
            <p><button class="nav-btn-outline my-2 my-sm-0 followBtn">unfollow</button></p>
        
          </div>
        
          <!-- some social links to show off 
          <ul class="profile-social-links">
        
            <!-- twitter - el clásico  
            <li>
              <a href="https://twitter.com/tutsplus">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/social-twitter.svg">
              </a>
            </li>
        
            <!-- envato – use this one to link to your marketplace profile 
            <li>
              <a href="https://envato.com">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/social-envato.svg">
              </a>
            </li>
        
            <!-- codepen - your codepen profile
            <li>
              <a href="https://codepen.io/tutsplus">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/social-codepen.svg">
              </a>
            </li>
        
            <!-- add or remove social profiles as you see fit 
        
          </ul>
        -->
        </aside>
      
        <!-- that’s all folks! -->



<!--<div class="card">
  <img [src]='follower.profilePic' style="width:100%"/>
      <div class="container">
          <h4>{{follower.FirstName}} {{follower.LastName}}</h4>
          <p style="color: grey;font-size: 18px;">{{follower.bio}}</p>
          <div style="margin: 15px 0;">
              <a href="#"><i class="fa fa-twitter"></i></a>  
              <a href="#"><i class="fa fa-linkedin"></i></a>  
              <a href="#"><i class="fa fa-facebook"></i></a> 
           </div>
           <div>
               <button (click)="unfollowUser()">unfollow</button>
           </div>
      </div>
</div>-->