<div class="card">
  <img src="assets/img/img2.jpg" style="width:100%"/>
      <div class="container">
          <h4>{{friend.FirstName}} {{friend.LastName}}</h4>
          <p style="color: grey;font-size: 18px;">{{friend.Bio}}</p>
          <div style="margin: 15px 0;">
              <a href="#"><i class="fa fa-twitter"></i></a>  
              <a href="#"><i class="fa fa-linkedin"></i></a>  
              <a href="#"><i class="fa fa-facebook"></i></a> 
           </div>
           <div>
               <button (onclick)="unfollowUser()">unfollow</button>
           </div>
      </div>
</div>