body {
    background-image: url("img1.jpg");
}
//<!-- LOUDAAAAAAAAAAAAAAAAAAAAAAAAAAAAA START -->

.abc{
    color: red;
    background-color: red;
    width: 100px;
    height: 100px;
    
}
//<!-- LOUDAAAAAAAAAAAAAAAAAAAAAAAAAAAAA START -->
