<!-- <header class="masthead">
  <div class="container">
    <div class="intro-text" style="padding-left:200px; padding-right:200px">
      <span class="name">Hello and welcome to</span>
      <span class="skills">Your Personalized Movie Recommendation Engine</span>
      <hr>
      <button type="button" class="btn-outline btn-lg btn-block trans action-button" (click)="loginOrRegiser = true"
           data-toggle="modal" data-target="#loginModal">Sign up to get started!</button>
    </div>
  </div>
</header> -->


<header id="loginForm" class="masthead">
  <div class="row">
    <div class="col-40">
      <div class="brand">
        Faragni
      </div>
      <div class="description">
        Deep Learning Based Movie Recommendation Engine
      </div>
    </div>
    <div class="col-20">
        <div class="headerDivider"></div>
    </div>
    <div class="col-40-right">
        <div class="login" *ngIf="!loginOrRegiser">
            <input placeholder="Username.." type="text" 
                    class="form-control input" name="username"
                    [(ngModel)]="model.Email" required />
            <input placeholder="Password.." type="password"
             class="form-control input" name="password"
                          [(ngModel)]="model.Password" required />
            <hr>
            <button [disabled]="loading" 
            class="login-btn-outline btn-lg btn-block login-btn" (click)="login()">Login</button>
              <p class="switch" (click)="loginOrRegiser = !loginOrRegiser">Not a member?</p>
        </div>
        <div class="login" *ngIf="loginOrRegiser">
            <input placeholder="First Name.." type="text"
            class="form-control input"  [ngClass]="{'alert-form':!fnValid}" (change)="checkInput('fn')" 
            [(ngModel)]="model.FirstName" required />
            <input placeholder="Last Name.." type="text"
            class="form-control input" (change)="checkInput('ln')"   [ngClass]="{'alert-form':!lnValid}"
            [(ngModel)]="model.LastName" required />
            <input placeholder="Username.." type="text"
            class="form-control input" (change)="checkInput('un')"   [ngClass]="{'alert-form':!unValid}"
            [(ngModel)]="model.UserName" required />
            <input placeholder="Email.." type="text" 
            class="form-control input" (change)="checkInput('em')"  [ngClass]="{'alert-form':!emValid}"
            [(ngModel)]="model.Email" required />
            <input placeholder="Password.." type="password"
            class="form-control input" (change)="checkInput('pw')"   [ngClass]="{'alert-form':!passValid}"
            [(ngModel)]="model.Password" required />
            <hr>
            <button [disabled]="!emValid||!unValid||!fnValid||!lnValid||!passValid" 
            class="login-btn-outline btn-lg btn-block login-btn"
            (click)="register()">Sign Up</button>
            <p (click)="loginOrRegiser = !loginOrRegiser" class="switch">Already have an account?</p>
          </div>
    </div>
  </div>
</header>












<div id="loginModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-full-height modal-right">
    <div class="modal-content modal-fluid">
      <div class="modal-body">
        <!--login form-->
        <div class="login" *ngIf="!loginOrRegiser">
          <h2 style="font-size:22px;">Log in to your account</h2>
          <input style="width:270px;" placeholder="Username.." type="text" class="form-control" name="username"
                        [(ngModel)]="model.Email" required />
          <input style="width:270px;" placeholder="Password.." type="password" class="form-control" name="password"
                        [(ngModel)]="model.Password" required />
          <hr>
          <button style="width:270px;" data-dismiss="modal" [disabled]="loading" class="login-btn-outline btn-lg btn-block" (click)="login()">Login</button>
          <a (click)="loginOrRegiser = !loginOrRegiser" style="cursor: pointer;">Not a member?</a>
        </div>
        <!--register form-->
        <div class="login" *ngIf="loginOrRegiser">
          <h2 style="font-size:22px;">Create a new account</h2>
          <input style="width:270px;" placeholder="First Name.." type="text" 
          [ngClass]="{'notValid':!fnValid, 'form-control':fnValid}" (change)="checkInput('fn')" [(ngModel)]="model.FirstName" required />
          <input style="width:270px;" placeholder="Last Name.." type="text" 
          [ngClass]="{'notValid':!lnValid, 'form-control':lnValid}" (change)="checkInput('ln')" [(ngModel)]="model.LastName" required />
          <input style="width:270px;" placeholder="Username.." type="text" 
          [ngClass]="{'notValid':!unValid, 'form-control':unValid}" (change)="checkInput('un')" [(ngModel)]="model.UserName" required />
          <input style="width:270px;" placeholder="Email.." type="text" 
          [ngClass]="{'notValid':!emValid, 'form-control':emValid}" (change)="checkInput('em')" [(ngModel)]="model.Email" required />
          <input style="width:270px;" placeholder="Age.." type="date" class="form-control datepicker"
                                                     [(ngModel)]="model.Age" required />
          <input style="width:270px;" placeholder="Password.." type="password" 
          [ngClass]="{'notValid':!passValid, 'form-control':passValid}" (change)="checkInput('pw')" [(ngModel)]="model.Password" required />
          <hr>
          <button [ngClass]="{'dis':!emValid||!unValid||!fnValid||!lnValid||!passValid}" style="width:270px;" class ="login-btn-outline btn-lg btn-block" (click)="register()">Register</button>
          <a (click)="loginOrRegiser = !loginOrRegiser" style="cursor: pointer;">Already have an account?</a>
        </div>
      </div>
    </div>
  </div>
</div>