
.abc{
    color: red;
    background-color: red;
    width: 100px;
    height: 100px;
    
}

.notValid{
    border: 2px solid red;
}

.dis{
 cursor: not-allowed;
 border: 1px solid #999999;
 background-color: #cccccc;
 color: #666666;
}

.trans{
    background-color: transparent;
    color:white;
    border-color: none;
}
.trans:hover{
    background-color: white;
    color: #7b4397;
    border-color: none;
}

.action-button{
    border-radius: 15px;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;    
}

.action-button:hover{
    transition: all 0.4s ease-in-out;    
}

@media screen and (max-width:970px){
    .masthead{
        min-width: 970px;
    }
}