<div class="container">
  <div class="intro-text wdth-md">
    <!--<div class="col-md-6 intro-text">-->
      <span class="name">Hello and welcome to</span>
      <span class="skills">Your Personalized Movie Recommendation Engine</span>
      <hr>
      <button style="cursor: pointer;" type="button" class="btn btn-outline btn-lg btn-block" routerLink="/register">Let's get started!</button>
    <!--</div>-->
    <!--<div class="col-md-6">
        <app-login></app-login>
        <hr>
        <app-register></app-register>
    </div>-->
  </div>
</div>
