<!-- this is the markup. you can change the details (your own name, your own avatar etc.) but don’t change the basic structure! -->

<aside class="profile-card">
  
    <header>
  
      <!-- here’s the avatar -->
              <!-- LOUDAAAAAAAAAAAAAAAAAAAAAAAAAAAAA START -->

      <a (click)="goToProfile()">
                <!-- LOUDAAAAAAAAAAAAAAAAAAAAAAAAAAAAA START -->

        <img [src]="currentFollowing.profilePic_url">
      </a>
  
      <!-- the username -->
      <h1>{{currentFollowing.FirstName}} {{currentFollowing.LastName}}</h1>
  
      <!-- and role or location -->
  
    </header>
  
    <!-- bit of a bio; who are you? -->
    <div class="profile-bio">
  
      <p>{{currentFollowing.bio}}</p>
      <p><button class="nav-btn-outline my-2 my-sm-0 followBtn" (click)="unfollowUser()">unfollow</button></p>
  
    </div>
</aside>