
<app-navbar [hide]="false" [currentUser]="currentUser" (screenID)="chooseScreen()"></app-navbar>
<app-movies [hidden]="currentScreen != 1"></app-movies>
<app-activity [hidden]="currentScreen != 2"></app-activity>
  <div *ngIf="currentScreen == 3" class="masthead">
    <div class="container">
      <div class="col-md-6 col-md-offset-3">
          <p>You're logged in Faragni!!</p>
          <h3>All registered users:</h3>
          <!-- <ul>
              <li *ngFor="let user of users">
                <app-followers-thumbnail [currentFollower]="user"></app-followers-thumbnail>
              </li>
          </ul> -->
      </div>
    </div>
  </div>
<app-footer></app-footer>
