<!--The content below is only a placeholder and can be replaced.-->
<app-navbar></app-navbar>

<header class="masthead">
  <div class="container">
    <!-- <img class="img-fluid" src="../assets/img/Logo.png" alt=""> -->
    <div class="intro-text">
      <span class="name">Faragni</span>
      <span class="skills">Your Personalized Movie Recommendation Engine</span>
      <hr>
      <button style="cursor: pointer;" type="button" class="btn btn-outline btn-lg btn-block">Let's Get Started!</button>
    </div>
  </div>
</header>

<app-footer></app-footer>
