<app-navbar [hide]="false" [currentUser]="loggedUser" (screenID)="chooseScreen($event)"></app-navbar>

<div class="maindiv">
    <div class="cover-photo-height">
        <!-- <img alt="" [src]="currentUser.profilePic" style="height:100%;"> -->
    </div>
    <div class="useravatar">
        <label for="file-upload" class="custom-file-upload">
            <i class="fa fa-cloud-upload"></i> Upload
        </label>
        <input id="file-upload" type="file" (change)="onFileChange($event)" />
        <img  class= "useravatar" [ngClass]="{'avatarEdit':isEdit}"  [src]="currentUser.profilePic" alt="error" id="pfimg">                 
    </div>
    <div class="tabs-row">
        <div class="h-100 shift-tabs">
            <button class="tab" [ngClass]="{'tab-active':showRatedMovies}" (click)="chooseTab(1)">
                Rated Movies
            </button>
            <button class="tab" [ngClass]="{'tab-active':showWatchlistMovies}" (click)="chooseTab(2)">
                Watchlist
            </button>
            <button class="tab">
                Following
            </button>
            <button class="tab" [ngClass]="{'tab-active':showFollowers}" (click)="chooseTab(4)">
                Followers
            </button>
            <button class="tab" [ngClass]="{'tab-active':showRecommendedMovies}" (click)="chooseTab(5)">
                Recommendations
            </button>
            <button class="action-button" *ngIf="isLoggedInUser" (click)="takeAction($event.target)">
                Edit Profile
            </button>
            <button class="action-button" *ngIf="!isLoggedInUser && !isFollowed" (click)="follow()">
                Follow
            </button>                
            <button class="action-button" *ngIf="!isLoggedInUser && isFollowed" (click)="unfollow()">
                Unfollow
            </button>      
        </div>
    </div>
    
    <div class="content">
        <div class="user-info">
            <div class="info" [ngClass]="{'edit':isEdit}">
                <div class ="input-group">
                    <label *ngIf="!isEdit" class="data">
                        <i class="fa fa-user-circle-o" aria-hidden="true"></i>                            
                        {{fullName}}
                    </label>
                    <input *ngIf="isEdit" [(ngModel)]="fullName" placeholder="Full Name.."
                     type="text" class="update-info data" name="username" required />
                </div>
                <div class="input-group">
                    <label class="data">
                        <i class="fa fa-at" aria-hidden="true"></i>
                        {{currentUser.UserName}}
                    </label>
                </div>
                <!-- <div class="input-group">
                    <p *ngIf="!isEdit" class="data">{{currentUser.bio}}</p>
                    <textarea *ngIf="isEdit" [(ngModel)]="currentUser.bio" 
                                type="text" class="form-control update-info data"></textarea>
                </div> -->
                <div class="input-group ">                      
                    <label *ngIf="!isEdit" class="data">
                        <i class="fa fa-address-book-o" aria-hidden="true"></i>                            
                        {{currentUser.Email}}
                    </label>
                    <input *ngIf="isEdit" [(ngModel)]="currentUser.Email" placeholder="Full Name.."
                    type="text" class="form-control update-info data" name="username" required />               
                </div>
                <div class="input-group">
                    <label class="data">
                        <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
                        {{currentUser.JoiningDate}}
                    </label>
                </div>
            </div> 
        </div>

        
        <div class="col2">
            <div class="tab-content">
                <!-- <input class=""type="file" (change)="onFileChange($event)" value="Upload image..." /> -->
                <app-followers *ngIf="showFollowers"></app-followers>
                <rated-movies *ngIf="showRatedMovies"></rated-movies>
                <watchlist *ngIf="showWatchlistMovies"></watchlist>
                <recommendations *ngIf="showRecommendedMovies"></recommendations>
            </div>
        </div>
    </div> 
    <app-footer></app-footer>    
</div>



