
.useravatar {
    position: absolute;
    left: 2rem;
    right: 0;
    top: 35%;
}
.useravatar img {
    width: 300px;
    height: 300px;
    max-width: 300px;
    max-height: 300px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.5);
}

.column {
    float: left;
    width: 33.3%;
    min-height:1000px;
    max-height: none;
    overflow-x: hidden;
    background-color: #f1f1f1;
}

.row{
  float: left;
  width:105%;
  height:50px;
  background-color: #333;
  
}
.row a {
    float: left;
    display: block;
    color: RED;
    text-align: center;
    padding: 14px 16px;
    text-decoration:none;
}
.row a:hover {
    background-color: #ddd;
    color: black;
    text-decoration-line: underline;
}
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(231, 43, 159);
    border-radius: 4px;
    box-sizing: border-box;
    background-color: white;
}
.cardOuter{
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 100px 300px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}
<<<<<<< HEAD

.tabs{
    min-height: 500px;
    max-height: none;
    margin-left:10px;
    background-color:#eff2f7;
    margin-top:50px;
}
=======
.avatarEdit{
    opacity:0.4;
    background-color:black;
}
input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
  
 
>>>>>>> 00c5f27dff44f974d032ab60c018b113dac3ed80
