.useravatar {
    position: absolute;
    left: 2rem;
    right: 0;
    top: 35%;
}
.useravatar img {
    width: 250px;
    height: 250px;
    max-width: 250px;
    max-height: 250px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.5);
}

.column {
    float: left;
    width: 33.3%;
    min-height:1000px;
    max-height: none;
    overflow-x: hidden;
    background-color: #f1f1f1;
}

.row{
  float: left;
  height:650px;
  background-color: #333;
  width: 100%;
  border: solid blue;
  border-radius: .28571429rem;
  box-shadow: 0 100px 300px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  position: absolute;
  
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(231, 43, 159);
    border-radius: 4px;
    box-sizing: border-box;
    background-color: white;
}
.cardOuter{
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 100px 300px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}
.tabs{
    min-height: 500px;
    max-height: none;
    margin-left:10px;
    background-color:#eff2f7;
    margin-top:50px;
}
.avatarEdit{
    opacity:0.4;
    background-color:black;
}
input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
.card-body{

    margin-left:15px;
    margin-top:40px;
    margin-left:30px;
}

.col1{
        width:25%;
        min-width: fit-content;
        height:90%;
        max-height: 1000px;
        border: solid red;
        border-radius: .28571429rem;
        box-shadow: 0 100px 300px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    }
.col2{
        width:70%;
        height:550px;
        border: solid black;
        border-radius: .28571429rem;
        box-shadow: 0 100px 300px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
        
    }
@media screen and (max-width: 1080px) {
    .col2{
        position: absolute;
        margin-left: 23rem;
    }
    .maindiv{
        overflow: auto;
        white-space: nowrap;
    }
}





   