<app-navbar [hide]="false" [currentUser]="currentUser" (screenID)="chooseScreen($event)"></app-navbar>

<div  style="background-color:#e6ecf0">
    <div class="row" style="height:23rem;">
            <img   alt="" src="assets\img\sky.jpg" style="width:100%; height:100%;">
    </div>
    <div class ="useravatar" style="z-index:1;position:-ms-page;display:initial" >
            <label for="file-upload" class="custom-file-upload" style="position:absolute;margin-top:10rem;" >
                    <i class="fa fa-cloud-upload"></i> Upload
                </label>
            <input id="file-upload" type="file" (change)="onFileChange($event)" />
         <img class ="useravatar"  [src]="currentUser.profilePic" #fileInput alt="error" id="pfimg">                 
    </div>
    
    <nav class ="navbar navbar-expand-lg" style="background-color:rgb(255, 255, 255); height:70px;">
            <button class="nav-tab my-2 my-sm-0" (click)="chooseTab(1)" style="margin-left:22rem" >MOVIES</button>
            <button class="nav-tab my-2 my-sm-0" (click)="chooseTab(2)" >WATCHLIST</button>            
            <button class="nav-tab my-2 my-sm-0"  >FOLLOWING</button>
            <button class="nav-tab my-2 my-sm-0" (click)="chooseTab(4)" >FOLLOWERS</button>
            <button class="nav-tab my-2 my-sm-0" (click)="chooseTab(5)" >RECOMMENDATION</button>
            <button class="nav-btn-outline my-2 my-sm-0"  style="margin-left:10rem; border-color:blueviolet;" (click)="takeAction($event.target)" >Edit Profile</button>
    </nav>
    
    <div class = "row" style="background-color:#e6ecf0; min-height:500px;max-height:none;margin-top:10px;">
        <div class="col-md-3 cardOuter "style="background-color:#e6ecf0; margin-left:50px; margin-top:50px;">
            <div class = "card-body" style="margin-left:15px;margin-top:40px;margin-left:30px;">
                <div class ="input-group">
                    <label *ngIf="!isEdit" style="font-size:30px; font-weight:bold ;"> {{currentUser.FirstName}} {{currentUser.LastName}}</label>
                    <span *ngIf="isEdit" class="input-group-addon" id="basic-addon1">Fname</span>
                    <input *ngIf="isEdit"  class="form-control" aria-describedby="basic-addon1" [(ngModel)] ="currentUser.FirstName">
                    <img src="{{base64}}">
                    
                </div>
                <div class="input-group">
                     <span *ngIf="isEdit" class="input-group-addon" id="basic-addon1">Lname</span>
                     <input *ngIf="isEdit" class="form-control" aria-describedby="basic-addon1" [(ngModel)] ="currentUser.LastName">
                </div>
                <div class="input-group">
                        <p *ngIf="!isEdit" style="font-style:normal;font-size:100%">{{myBio}}</p>
                        <span *ngIf="isEdit" class="input-group-addon" id="basic-addon1">bio</span>
                        <input *ngIf="isEdit" class="form-control" aria-describedby="basic-addon1" [(ngModel)] ="myBio">
               </div>
               <div class="input-group">
                    <label *ngIf="!isEdit" class="fa fa-envelope-open-o" aria-hidden="true"> {{currentUser.Email}}</label>
                    <span  *ngIf="isEdit" class="input-group-addon" id="basic-addon1">@</span>
                    <input *ngIf="isEdit" class="form-control" aria-describedby="basic-addon1" [(ngModel)] ="currentUser.Email">
               </div>
                 
                 <label *ngIf="!isEdit" class="fa fa-at" aria-hidden="true"> {{currentUser.UserName}}</label><br>
                
                 <label *ngIf="!isEdit" class="fa fa-calendar" aria-hidden="true"> Joined on {{currentUser.JoiningDate}}</label>
                 <br>
                 <label *ngIf="!isEdit" class="fa fa-spinner" aria-hidden="true"> {{currentUser.Age}} years old </label>
            </div>
        </div>

        
        <div class="col-md-8 cardOuter tabs">
            <input class=""type="file" (change)="onFileChange($event)" value="Upload image..." />
            <app-followers *ngIf="showFollowers"></app-followers>
            <rated-movies *ngIf="showRatedMovies"></rated-movies>
            <watchlist *ngIf="showWatchlistMovies"></watchlist>
            <recommendations *ngIf="showRecommendedMovies"></recommendations>
        </div>
    </div>

</div>