.useravatar {
    left: 3%;
    right: 0;
    top: 25%;
    z-index:1;
    position: absolute;
    // position:-ms-page;
    // display:initial;
}
.useravatar img {
    width: 250px;
    height: 250px;
    max-width: 250px;
    max-height: 250px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    border: 5px solid rgb(255, 255, 255);
}

.column {
    float: left;
    width: 33.3%;
    min-height:1000px;
    max-height: none;
    // overflow-x: hidden;
    background-color: #f1f1f1;
}

.row{
  float: left;
  height:650px;
  background-color: #333;
  width: 100%;
  border: solid blue;
  border-radius: .28571429rem;
  box-shadow: 0 100px 300px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  position: absolute;
  
}
.input-group{
    padding: 3px;
}
// input[type=text] {
//     width: 100%;
//     padding: 12px 20px;
//     margin: 8px 0;
//     display: inline-block;
//     border: 1px solid rgb(231, 43, 159);
//     border-radius: 4px;
//     box-sizing: border-box;
//     background-color: white;
// }
.cardOuter{
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 100px 300px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}
.tabs{
    min-height: 500px;
    max-height: none;
    margin-left:10px;
    background-color:#eff2f7;
    margin-top:50px;
}
.avatarEdit{
    opacity:0.4;
    background-color:black;
}
input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    position: absolute;
    margin-top:10rem;
}
.info{
    margin-left: 20%;
    margin-top: 20%;
    transition: all 0.4s ease-in-out;
}
.data{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 10%;
    font-size:15px;
    font-weight:bolder;
    height: 30px;
    max-height: 30px;    
}
textarea{
    // resize: none;
    height: 200px;
    max-height: 200px;
    max-width: 250px;
}
.update-info{
    border-radius: 0;
    border: none;
    max-width: 250px;
    height: 30px;
    max-height: 30px;
}
.user-info{
    width:25%;
    max-width: 25%;
    height: 100%;
    min-width: fit-content;
    -webkit-text-fill-color: #7b4397;    
    // margin-left:50px; 
    // margin-top:80px;
    // border: solid blue;
    border-radius: 10%;
    float: left;
    
}
.col2{
        width:70%;
        height: 100%;
        // border: solid black;
        float: right;    
        
    }
.maindiv{
    background-color:#e6ecf0;
    height: 100%;
    min-height: 500px;
    max-height: none;
}
@media screen and (max-width: 1080px) {
    .maindiv{
        overflow: auto;
        white-space: nowrap;
    }
    .maindiv .tabs-row{
        min-width: 1080px;
    }
    .tabs-row .shift-tabs{
        margin-left: 22rem;
    }
    .maindiv .useravatar{
        left:30px;
    }
    .maindiv .cover-photo-height{
        min-width:1080px;
    }

}

@media screen and (max-width:1080px){
    .maindiv .content{
        width:1080px;
    }
}

.cover-photo-height{
    height:23rem;
    background:linear-gradient(to left, #7b4397, #dc2430);
}

.tabs-row{
    height: 60px;
    width: 100%;
    background-color: white;
    box-shadow: 0px 0px 5px 3px rgba(1, 1, 1, 0.3);
}
.tab{
    width:auto;  
    height: 100%;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-left:none;
    border-right:none;
    color: #7b4397;
    position: relative;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
    background: transparent;
    font-weight: 500;
    font-size: 15px;
}
.tab-active, .tab:active, .tab:focus, .tab:hover {
    border-bottom: 3px solid #7b4397;
    border-top: 3px solid transparent;
    width:auto;  
    border-left:none;
    border-right:none;
    transition: all 0.4s ease-in-out;
    color: #7b4397;
    cursor: pointer;
    position: relative;
    background: transparent;
    font-weight: 500;
}

.h-100{
    height: 100%;
}

.shift-tabs{
    margin-left:30%;
}

.action-button{
    border-radius: 15px;
    margin-left:15%;
    font-weight: 500;
    font-size: 15px;
    background-color: white;
    color:#7b4397;
    border: 2px solid #7b4397;   
    width:110px;  
    height: 70%;
    cursor: pointer;
    transition: all 0.4s ease-in-out;    
}

.action-button:hover{
    background-color: #7b4397; 
    transition: all 0.4s ease-in-out;    
    color:white;
}

.content{
    max-height: none;
    overflow-y: hidden;
    min-height: 500px;
    background-color: #eff2f7;
    width: 100%;
    margin-top:10px;
    background-color:#e6ecf0;
}

.edit{
    background-color: rgba(255, 255, 255, 0.6);
    transition: all 0.4s ease-in-out;
    box-shadow: 0 10px 20px 0 #d4d4d5, 0 0 0 1px #d4d4d5;            
}

.tab-content{
    margin-right: 12%;
    margin-bottom: 3%;
    background-color: white;
    height: 100%;
    box-shadow: 0 10px 20px 0 #d4d4d5, 0 0 0 1px #d4d4d5;    
}