<app-navbar [hide]="false" [currentUser]="currentUser" (screenID)="chooseScreen($event)"></app-navbar>
<head>
       
</head>
<div  class="maindiv"style="background-color:#e6ecf0">
    <div  style="height:23rem;">
            <img alt="" src="assets\img\sky.jpg" style="width:100%; height:100%;">
    </div>
    <div class ="useravatar" style="z-index:3;position:-ms-page;display:initial" >
        <label for="file-upload" >
             <img  class= "useravatar" [ngClass]="{'avatarEdit':isEdit}"  [src]="currentUser.profilePic" alt="error" id="pfimg">
        </label>
        <input *ngIf="isEdit" id="file-upload" type="file" accept="image/*" (change)="onFileChange($event)" />               
    </div>
  
    
    <nav class ="navbar navbar-expand-lg" style="background-color:rgb(255, 255, 255); height:70px;">
            <button class="nav-tab my-2 my-sm-0" (click)="chooseTab(1)" style="margin-left:22rem" >MOVIES</button>
            <button class="nav-tab my-2 my-sm-0" (click)="chooseTab(2)" >WATCHLIST</button>            
            <button class="nav-tab my-2 my-sm-0"  >FOLLOWING</button>
            <button class="nav-tab my-2 my-sm-0" (click)="chooseTab(4)" >FOLLOWERS</button>
            <button class="nav-tab my-2 my-sm-0" (click)="chooseTab(5)" >RECOMMENDATION</button>
            <button class="nav-btn-outline my-2 my-sm-0"  style="margin-left:10rem; border-color:blueviolet;" (click)="takeAction($event.target)" >Edit Profile</button>
    </nav>
    
    <div class = "row" style="background-color:#e6ecf0; margin-top:10px;">
        <div class="col1"style="background-color:#e6ecf0; margin-left:50px; margin-top:50px;">
            <div class = "card-body">
                <div class ="input-group">
                    <label *ngIf="!isEdit" style="font-size:30px; font-weight:bold ;"> {{currentUser.FirstName}} {{currentUser.LastName}}</label>
                    <span *ngIf="isEdit" class="input-group-addon" id="basic-addon1">Fname</span>
                    <input *ngIf="isEdit"  class="form-control" aria-describedby="basic-addon1" [(ngModel)] ="currentUser.FirstName">                    
                </div>
                <div class="input-group">
                     <span *ngIf="isEdit" class="input-group-addon" id="basic-addon1">Lname</span>
                     <input *ngIf="isEdit" class="form-control" aria-describedby="basic-addon1" [(ngModel)] ="currentUser.LastName">
                </div>
                <div class="input-group">
                        <p *ngIf="!isEdit" style="font-style:normal;font-size:100%">{{currentUser.bio}}</p>
                        <span *ngIf="isEdit" class="input-group-addon" id="basic-addon1">bio</span>
                        <input *ngIf="isEdit" class="form-control" aria-describedby="basic-addon1" [(ngModel)] ="currentUser.bio">
               </div>
               <div class="input-group">
                    <label *ngIf="!isEdit" class="fa fa-envelope-open-o" aria-hidden="true"> {{currentUser.Email}}</label>
                    <span  *ngIf="isEdit" class="input-group-addon" id="basic-addon1">@</span>
                    <input *ngIf="isEdit" class="form-control" aria-describedby="basic-addon1" [(ngModel)] ="currentUser.Email">
               </div>
                 
                 <label *ngIf="!isEdit" class="fa fa-at" aria-hidden="true"> {{currentUser.UserName}}</label><br>
                
                 <label *ngIf="!isEdit" class="fa fa-calendar" aria-hidden="true"> Joined on {{currentUser.JoiningDate}}</label>
                 <br>
                 <label *ngIf="!isEdit" class="fa fa-spinner" aria-hidden="true"> {{currentUser.Age}} years old </label>
            </div>
        </div>
        <div class="col2">
            <app-followers-thumbnail *ngIf="showFollowers"></app-followers-thumbnail>
            <rated-movies *ngIf="showRatedMovies"></rated-movies>
            <watchlist *ngIf="showWatchlistMovies"></watchlist>
            <recommendations *ngIf="showRecommendedMovies"></recommendations> 
        </div>
    </div>
</div>

