<div class="header">
    Followers
</div>
<br>
<div class="watchlistMovies">
    <div class="prfCard" *ngFor="let currentFollower of followersList;">
        <app-followers-thumbnail (currentUserModel)="authUserChanged($event)" (FollowingDatasource)="refreshList($event)" 
                                [currentFollower]="currentFollower"> </app-followers-thumbnail>            
    </div>
    <div *ngIf="!followersList.length">
      <div class="empty">
        You have no followers
      </div>
    </div>
</div>
      