
.header{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 20px;
    color: #7b4397;
    font-weight: 500;
    background-color: white; 
}

.empty{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 20px;
    color: #7b4397;
    font-weight: 500;
    background-color: white; 
}
.prfCard{
    float: left;
}