<div class="flip-container">
	<div class="card movie-card" [ngClass]="{'flipped': flip}">
		<div class="front">
			<!-- front content -->
			<div class="backg" [style.background-image]="photo"
										 		[style.background-repeat]="'no-repeat'"
												 [style.background-size]="'100% 100%'"></div>
			<div class="header">
				<div [ngClass]="{'hidden': flip}" class="rate"><span class="badge badge-pill purple">{{currentMovie.imdbRating}}</span></div>
				<div class="date">
					<span>{{currentMovie.Released}}</span>
				</div>
				<ul class="menu-content">
				  <li><a class="fa" [ngClass]="{'fa-bookmark-o': !addedToList, 'fa-bookmark': addedToList}"
						 (click)="addToWatchList()"></a></li>
				  <li class="dropdown">
						  <a><i class="fa" 
							[ngClass]="{'fa-star': currentMovieRating.Rating > 0, 'fa-star-o': currentMovieRating.Rating == 0}"
							 aria-hidden="true"></i><span>{{currentMovie.imdbVotes}}</span></a>
						  <div class="dropdown-content">
								<star-rating-comp [hoverEnabled]="true" [labelText]="'Rate it now!'" 
								[numOfStars]="5" [labelPosition]="'top'" [starType]="'icon'" 
							    [rating]="currentMovieRating.Rating" (onClick)="saveNewRating($event)"></star-rating-comp>
						  </div>
					</li>
				</ul>
			</div>
			<!--data-->
			<div class="data">
				<div class="content">
				  <h1 class="title"><a>{{currentMovie.Title}}</a></h1>
				  <p class="plot">{{currentMovie.Plot}}</p>
					<a class="button" (click)="flip = !flip">More Info!</a>
				</div>
			</div>

		</div>



		<div class="back">
			<!-- back content -->
			<div [ngClass]="{'hidden': !flip}" class="rate"><span class="badge badge-pill purple">{{currentMovie.imdbRating}}</span></div>
			<div class="backg" [style.background-image]="photo"
										 		[style.background-repeat]="'no-repeat'"
												 [style.background-size]="'100% 100%'"></div>
			<div class="return"><a class="fa fa-arrow-circle-right" (click)="flip = !flip"></a></div>
			<div class="paddingTop">
				<h1 class="title">
					<a>
						{{currentMovie.Title}} ({{currentMovie.Year}})
					</a>
				</h1>
				<h6 class="cast"><i class="fa fa-film" aria-hidden="true"></i> <span>{{currentMovie.Director}}</span></h6>
				<h6  *ngFor="let act of currentMovie.ActorsList; let i = index" class="cast">
					<i *ngIf="i != 0" class="fa fa-users" aria-hidden="true"></i>
					<i *ngIf="i == 0" class="fa fa-star" aria-hidden="true"></i>
					<span>{{act.Name}}</span>
				</h6>
				<h6 class="cast"><i class="fa fa-trophy" aria-hidden="true"></i> <span>{{currentMovie.Awards}}</span></h6>
				<h6 class="cast"><i class="fa fa-clock-o" aria-hidden="true"></i> <span>{{currentMovie.Runtime}}</span></h6>
				<span *ngFor="let genre of currentMovie.Genres" class="badge badge-pill purple">{{genre.Name}}</span>
			</div>
		</div>
	</div>
</div>