/* entire container, keeps perspective */
.flip-container {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  width: 250px;
  height: 370px;
  float: left;
  position: relative;
	perspective: 1000px;
  margin: 10px;
  -webkit-transition: all 0.9s;
  transition: all 0.9s;
}


.card {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  -webkit-transition: all 0.9s;
  transition: all 0.9s;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3), 0 10px 7px rgba(0, 0, 0, 0.2);
}
.card:hover{
  -webkit-transition: all 0.9s;
  transition: all 0.9s;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.6), 0 20px 17px rgba(0, 0, 0, 0.5);
}
.card .front {
  /*background: url(https://tvseriescritic.files.wordpress.com/2016/10/
    stranger-things-bicycle-lights-children.jpg) center/cover no-repeat;*/
  background: center/cover no-repeat;
  border-radius: 3px;
  background-color: inherit;
  margin: 0;
  display: block;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  position: relative;
  -webkit-transition: all 0.9s;
  transition: all 0.9s;
  -webkit-text-fill-color: white;
  overflow: hidden;

}
.card .front:hover{
  -webkit-text-fill-color: #7b4397;
}
.card .front .header{
  color: white;
  padding: 1em;
  -webkit-transition: all 0.9s;
  transition: all 0.9s;
}
.card .front .header .date{
  float: left;
  padding: 3px;
  font-size: 11px;
  -webkit-transition: all 0.9s;
  transition: all 0.9s;
}
.card .front .rate span{
  position: fixed;
    right: 0;
    font-size: 14px;
    margin-top: -10px;
    margin-right: 230px;
    color: white;
    text-align: center;
    top: 0;
    width: auto;
    height: auto;
    border-radius: 100%;
    -webkit-transition: all 0.9s;
    transition: all 0.9s;
}
.card .front:hover .rate span{
  -webkit-text-fill-color: white;
}
.card .back .rate span{
  position: fixed;
    right: 0;
    font-size: 14px;
    margin-top: -10px;
    margin-right: 230px;
    color: white;
    text-align: center;
    top: 0;
    width: auto;
    height: auto;
    border-radius: 100%;
    -webkit-transition: all 0.9s;
    transition: all 0.9s;
    opacity: 1;
}
.hidden{
  display: none;
  -webkit-transition: all 0.9s ease-in-out;
  transition: all 0.9s ease-in-out;
}
.card .back .return{
  position: absolute;
    background-color: transparent;
    color: #7b4397;
    padding: 5px;
    right: 0;
    text-align: center;
    top: 0;
    width: auto;
    height: auto;
    border-radius: 10%;
    -webkit-transition: all 0.9s;
    transition: all 0.9s;
}
.card .front .header .menu-content{
  float: right;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.card .front .header .menu-content li {
  margin: 0 5px;
  position: relative;
  display: inline-block;
}
.card .front .header .menu-content a {
  opacity: 0;
  color: white;
}
.card .front .header .menu-content span {
  color: white;
  -webkit-transition: all 0.9s;
  transition: all 0.9s;
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 0;
  font-size: 11px;
  font-weight: bold;
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
.card .front .header .menu-content .dropdown {
    position: relative;
    display: inline-block;
}
.card .front .header .menu-content .dropdown-content {
    display: none;
    border-radius: 5px;
    -webkit-transition: all 0.9s;
    transition: all 0.9s;
    position: relative;
    background-color: #eff2f7;
    width: 100%;
    height: auto;
    padding: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 100;
    float: right;
}
.card .front .header .menu-content .dropdown:hover .dropdown-content {
    display: inline-block;
    position: fixed;
    left:auto;
    -webkit-transition: all 0.9s;
    transition: all 0.9s;
    right:0;
}

.card .front .data{
  position: absolute;
  bottom: 0;
  color: white;
  opacity: 0;
  -webkit-transform: translateY(calc(70px + 1em));
          transform: translateY(calc(70px + 1em));
  -webkit-transition: -webkit-transform 0.9s;
  transition: -webkit-transform 0.9s;
  -webkit-transition: all 0.9s;
  transition: all 0.9s;
}
.card:hover .front .data{
  opacity: 1;
}
.card .front:hover .data{
  opacity: 1;
}
.movie-card .data {
  color: #fff;
  -webkit-transform: translateY(calc(70px + 4em));
          transform: translateY(calc(70px + 4em));
          -webkit-transition: all 0.9s;
          transition: all 0.9s;
}
.card .front .data .content {
  padding: 1.3em;
  position: relative;
  z-index: 1;
}
.card .title {
  text-align: center;
  margin-top: 10px;
  font-size: 17px;
  font-weight: bolder;
}
.card .title a {
  margin-top: 10px;
  font-size: 17px;
  font-weight: bolder;
}
.card .title span {
  float: right;
}
.card .front .data .content .plot {
  height: 50px;
  font-size: 12px;
  font-weight: bold;
  margin: 0;
  opacity: 0;
  -webkit-transition: all 0.9s;
  transition: all 0.9s;
}
.card .front .data .content a{
  text-align: center;
}
.card .front:hover .data {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.card .front:hover .data .content .plot{
  opacity: 1;
  height: auto;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}
.card .front:hover .header .menu-content span {
  -webkit-transform: translate(-50%, -10px);
          transform: translate(-50%, -10px);
  opacity: 1;
}
.card .front:hover .header .menu-content a {
  opacity: 1;
}
.movie-card .button {
  filter: blur(0px);
  display: block;
  width: 100px;
  margin: 1em auto 0.5em;
  text-align: center;
  font-size: 11px;
  color: #fff;
  line-height: 1;
  position: relative;
  font-weight: 700;
}
.movie-card .button::after {
  filter: blur(0px);
  content: '\2192';
  opacity: 0;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}
.movie-card .button:hover::after {
  filter: blur(0px);
  -webkit-transform: translate(5px, -50%);
          transform: translate(5px, -50%);
  opacity: 1;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}



.card .back {
  border-radius: 3px;
  background-color: inherit;
  margin: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  min-height: 290px;
  backface-visibility: hidden;
  text-align: center;
  transform: rotateY( 180deg );
}
.card .back .paddingTop{
  padding-top: 10px;
}
.card .front .backg{
  /*background: url(https://tvseriescritic.files.wordpress.com/2016
  /10/stranger-things-bicycle-lights-children.jpg) center/cover no-repeat;*/
  -webkit-text-fill-color: black;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
  position: absolute;
  -webkit-transition: all 0.9s;
  transition: all 0.9s;
}
.card .front:hover .backg{
  opacity: 0.17;
  -webkit-transition: all 0.9s;
  transition: all 0.9s;
}
.card .back .backg{
  /*background: url(https://tvseriescritic.files.wordpress.com/2016
  /10/stranger-things-bicycle-lights-children.jpg) center/cover no-repeat;*/
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
  position: absolute;
  -webkit-transition: all 0.9s;
  transition: all 0.9s;
  opacity: 0.13;
  -webkit-text-fill-color: #7b4397;
  color: #7b4397;
}
.card .back .title{
  text-align: center;
  margin-top: 10px;
  font-size: 10px;
  padding: 10px;
  font-weight: bolder;
  -webkit-text-fill-color: #7b4397;
  color: #7b4397;
}
.card .back .title a{
  text-align: center;
  margin-top: 10px;
  font-size: 16px;
  padding-top: 10px;
  font-weight: bolder;
  -webkit-text-fill-color: #7b4397;
  color: #7b4397;
}
.card .back .cast{
  text-align: center;
  margin: auto;
  -webkit-text-fill-color: #7b4397;
  color: #7b4397;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  font-size: 13px;
}
.card .back .cast span{
  filter: blur(0px);
  font-size: 14px;
  font-weight: bolder;
  -webkit-text-fill-color: #7b4397;
  color: #7b4397;
}
.card .back .button{
  -webkit-text-fill-color: #7b4397;
}

.card.flipped {
  transform: rotateY( -180deg );
}

.row{
  width:100%;
}
.col-30{
  width:30%;
  float: left;
}
.col-70{
  width:70%;
  background-color: white;
}
.movie-poster-modal{
  width: 100%;
  height: 100%;
}

.padd{
  padding: 8%;
}

.no-padd{
  padding: 0;
}

.recommendation-title{
  text-align: center;
  font-weight: bolder;
}

.purple-text{
  -webkit-text-fill-color: #7b4397;
  
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.dimmer-stars{
  display: inline-block; 
  padding:3px;
  -webkit-text-fill-color: #7b4397;  
}

.bolder{
  font-weight: bolder;
}