
<app-navbar [hide]="true"></app-navbar>
<div class="screen-tab">
  <div class="header">
    <div class="row padd-left">
      <h1>Popular Movies</h1>
    </div>
    <div class="row">
          <div class="col-30">
          <div style="margin-left:10px">
            <!-- <custom-select-box *ngIf="!movies.length" [loadingMessage]="'loading data..'"></custom-select-box> -->
            <!-- <custom-select-box [movies]="100" *ngIf="movies.length" [valueExpr]="'MovieID'" [value]="selectedValue"
            [displayExpr]="'Title'" [itemName]="'User'" (newDataSource)="search($event)" (input)="selectMovie($event)"
            [loadingMessage]="''" [(dataSource)]="movies"></custom-select-box> -->
          </div>
          </div>
          <div class="col-70">
              <div class="right">
                  <sui-multi-select [options]="genres" [maxSelected]="3" icon="list" 
                                [labelField]="'Name'" [valueField]="'Name'"
                                [placeholder]="'Genres..'" (selectedOptionsChange)="filterByGenres($event)" #select>
                    <div class="padd">
                      <input suiSelectSearch type="text" placeholder="Search genres...">
                    </div>
                    <div class="scrolling menu">
                      <sui-select-option *ngFor="let o of select.filteredOptions" [value]="o"></sui-select-option>
                    </div>
                  </sui-multi-select>
        
                  <div class="ui dropdown btn sort-dropdown" suiDropdown>
                      <div class="text">Sort By</div>
                      <!-- <i class="dropdown icon"></i> -->
                      <div class="menu" suiDropdownMenu>
                          <div class="item" (click)="sortByRating()">Rating</div>
                          <div class="item" (click)="sortByDate()">Release Date</div>
                          <!-- <div class="item">Awards</div> -->
                      </div>
                  </div>
              </div>
          </div>
    </div>
  </div>
  <!-- <div  class="scroll"> -->
  <div *ngFor="let movie of pagedItems; let i = index">
    <app-movie-thumbnail [currentMovie]="movie"></app-movie-thumbnail>
  </div>
  <i *ngIf="pagedItems.length" class="fa fa-arrow-left previous" (click)="setPage(pager.currentPage - 1, dumMovies.length)" aria-hidden="true"></i>            
  <i *ngIf="pagedItems.length" class="fa fa-arrow-right next" aria-hidden="true" (click)="setPage(pager.currentPage + 1, dumMovies.length)"></i>            
  
  <div class="pages">
    <div class="pagination" *ngIf="pagedItems.length">
        <!-- <button class="page gradient" (click)="setPage(1)">First</button> -->

        <!-- <li *ngFor="let page of pager.pages" [ngClass]="{'active':pager.currentPage == page}">
          <button class="page number gradient" (click)="setPage(page)">{{page}}</button>
        </li> -->

        <!-- <button class="page gradient" (click)="setPage(pager.totalPages)">Last</button> -->
    </div>
    <div class="pagination" *ngIf="!pagedItems.length">
      <h1>
        There are no movies matching those filters.
      </h1>
    </div>
  </div>
<!-- </div> -->
  <!-- <div class="ui segments">
      <div class="ui segment">
          
          <sui-pagination [collectionSize]="50"
                          [pageSize]="3"
                          [maxSize]="5"
                          [canRotate]="true"
                          [(page)]="selectedPage">
          </sui-pagination>
      </div>
  </div> -->
  <!--<h1>Hello</h1>
  <div id="carouselExampleIndicators" class="carousel slide" data-interval="1000" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" *ngFor="let m of movies;let i = index" [attr.data-slide-to]="i" ngClass="i == 0 ? 'active' : ''"></li>

      <!--<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="card-group">
      <div *ngFor="let j of movies; let k = index" [ngClass]="k == 0 ? 'carousel-item active' : 'carousel-item'">
        <div class="card" style="padding:50px;">
        <img class="card-img-top" style=" height:90px; width:90px;" src="https://lh3.googleusercontent.com/dB3Dvgf3VIglusoGJAfpNUAANhTXW8K9mvIsiIPkhJUAbAKGKJcEMPTf0mkSexzLM5o=w300" alt="Card image cap">
        Movie {{k + 1}}
        </div>
      </div>
      </div>
      <!--<div class="carousel-item active">
        <div class="card-group">
        <div class="card" style="padding:50px;">
        <img class="card-img-top" src="https://lh3.googleusercontent.com/dB3Dvgf3VIglusoGJAfpNUAANhTXW8K9mvIsiIPkhJUAbAKGKJcEMPTf0mkSexzLM5o=w300" alt="Card image cap">
        Movie 1
        </div>
        <div class="card" style="padding:50px;">
        <img class="card-img-top" src="https://lh3.googleusercontent.com/dB3Dvgf3VIglusoGJAfpNUAANhTXW8K9mvIsiIPkhJUAbAKGKJcEMPTf0mkSexzLM5o=w300" alt="Card image cap">
        Movie 2
        </div>
        <div class="card" style="padding:50px;">
        <img class="card-img-top" src="https://lh3.googleusercontent.com/dB3Dvgf3VIglusoGJAfpNUAANhTXW8K9mvIsiIPkhJUAbAKGKJcEMPTf0mkSexzLM5o=w300" alt="Card image cap">
        Movie 3
        </div>
        <div class="card" style="padding:50px;">
        <img class="card-img-top" src="https://lh3.googleusercontent.com/dB3Dvgf3VIglusoGJAfpNUAANhTXW8K9mvIsiIPkhJUAbAKGKJcEMPTf0mkSexzLM5o=w300" alt="Card image cap">
        Movie 4
        </div>
      </div>
      </div>
      <div class="carousel-item">
        <div class="card-group">
        <div class="card" style="padding:50px;">
        <img class="card-img-top" src="https://lh3.googleusercontent.com/dB3Dvgf3VIglusoGJAfpNUAANhTXW8K9mvIsiIPkhJUAbAKGKJcEMPTf0mkSexzLM5o=w300" alt="Card image cap">
        Movie 5
        </div>
        <div class="card" style="padding:50px;">
        <img class="card-img-top" src="https://lh3.googleusercontent.com/dB3Dvgf3VIglusoGJAfpNUAANhTXW8K9mvIsiIPkhJUAbAKGKJcEMPTf0mkSexzLM5o=w300" alt="Card image cap">
        Movie 6
        </div>
        <div class="card" style="padding:50px;">
        <img class="card-img-top" src="https://lh3.googleusercontent.com/dB3Dvgf3VIglusoGJAfpNUAANhTXW8K9mvIsiIPkhJUAbAKGKJcEMPTf0mkSexzLM5o=w300" alt="Card image cap">
        Movie 7
        </div>
        <div class="card" style="padding:50px;">
        <img class="card-img-top" src="https://lh3.googleusercontent.com/dB3Dvgf3VIglusoGJAfpNUAANhTXW8K9mvIsiIPkhJUAbAKGKJcEMPTf0mkSexzLM5o=w300" alt="Card image cap">
        Movie 8
        </div>
      </div>
      </div>
      <div class="carousel-item">
        <div class="card-group">
          <div class="card" style="padding:50px;">
          <img class="card-img-top" src="https://lh3.googleusercontent.com/dB3Dvgf3VIglusoGJAfpNUAANhTXW8K9mvIsiIPkhJUAbAKGKJcEMPTf0mkSexzLM5o=w300" alt="Card image cap">
          Movie 9
          </div>
          <div class="card" style="padding:50px;">
          <img class="card-img-top" src="https://lh3.googleusercontent.com/dB3Dvgf3VIglusoGJAfpNUAANhTXW8K9mvIsiIPkhJUAbAKGKJcEMPTf0mkSexzLM5o=w300" alt="Card image cap">
          Movie 10
          </div>
          <div class="card" style="padding:50px;">
          <img class="card-img-top" src="https://lh3.googleusercontent.com/dB3Dvgf3VIglusoGJAfpNUAANhTXW8K9mvIsiIPkhJUAbAKGKJcEMPTf0mkSexzLM5o=w300" alt="Card image cap">
          Movie 11
          </div>
          <div class="card" style="padding:50px;">
          <img class="card-img-top" src="https://lh3.googleusercontent.com/dB3Dvgf3VIglusoGJAfpNUAANhTXW8K9mvIsiIPkhJUAbAKGKJcEMPTf0mkSexzLM5o=w300" alt="Card image cap">
          Movie 12
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div
  <hr>-->
  <!--<h1>Hello</h1>
  <div id="carouselExampleIndicators2" class="carousel slide" data-interval="1000" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators2" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators2" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators2" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <div class="card-group">
      <div class="card" style="padding:50px;">
      <img class="card-img-top" src="https://lh3.googleusercontent.com/dB3Dvgf3VIglusoGJAfpNUAANhTXW8K9mvIsiIPkhJUAbAKGKJcEMPTf0mkSexzLM5o=w300" alt="Card image cap">
      Movie 1
      </div>
      <div class="card" style="padding:50px;">
      <img class="card-img-top" src="https://lh3.googleusercontent.com/dB3Dvgf3VIglusoGJAfpNUAANhTXW8K9mvIsiIPkhJUAbAKGKJcEMPTf0mkSexzLM5o=w300" alt="Card image cap">
      Movie 2
      </div>
      <div class="card" style="padding:50px;">
      <img class="card-img-top" src="https://lh3.googleusercontent.com/dB3Dvgf3VIglusoGJAfpNUAANhTXW8K9mvIsiIPkhJUAbAKGKJcEMPTf0mkSexzLM5o=w300" alt="Card image cap">
      Movie 3
      </div>
      <div class="card" style="padding:50px;">
      <img class="card-img-top" src="https://lh3.googleusercontent.com/dB3Dvgf3VIglusoGJAfpNUAANhTXW8K9mvIsiIPkhJUAbAKGKJcEMPTf0mkSexzLM5o=w300" alt="Card image cap">
      Movie 4
      </div>
    </div>
    </div>
    <div class="carousel-item">
      <div class="card-group">
      <div class="card" style="padding:50px;">
      <img class="card-img-top" src="https://lh3.googleusercontent.com/dB3Dvgf3VIglusoGJAfpNUAANhTXW8K9mvIsiIPkhJUAbAKGKJcEMPTf0mkSexzLM5o=w300" alt="Card image cap">
      Movie 5
      </div>
      <div class="card" style="padding:50px;">
      <img class="card-img-top" src="https://lh3.googleusercontent.com/dB3Dvgf3VIglusoGJAfpNUAANhTXW8K9mvIsiIPkhJUAbAKGKJcEMPTf0mkSexzLM5o=w300" alt="Card image cap">
      Movie 6
      </div>
      <div class="card" style="padding:50px;">
      <img class="card-img-top" src="https://lh3.googleusercontent.com/dB3Dvgf3VIglusoGJAfpNUAANhTXW8K9mvIsiIPkhJUAbAKGKJcEMPTf0mkSexzLM5o=w300" alt="Card image cap">
      Movie 7
      </div>
      <div class="card" style="padding:50px;">
      <img class="card-img-top" src="https://lh3.googleusercontent.com/dB3Dvgf3VIglusoGJAfpNUAANhTXW8K9mvIsiIPkhJUAbAKGKJcEMPTf0mkSexzLM5o=w300" alt="Card image cap">
      Movie 8
      </div>
    </div>
    </div>
    <div class="carousel-item">
      <div class="card-group">
      <div class="card" style="padding:50px;">
      <img class="card-img-top" src="https://lh3.googleusercontent.com/dB3Dvgf3VIglusoGJAfpNUAANhTXW8K9mvIsiIPkhJUAbAKGKJcEMPTf0mkSexzLM5o=w300" alt="Card image cap">
      Movie 9
      </div>
      <div class="card" style="padding:50px;">
      <img class="card-img-top" src="https://lh3.googleusercontent.com/dB3Dvgf3VIglusoGJAfpNUAANhTXW8K9mvIsiIPkhJUAbAKGKJcEMPTf0mkSexzLM5o=w300" alt="Card image cap">
      Movie 10
      </div>
      <div class="card" style="padding:50px;">
      <img class="card-img-top" src="https://lh3.googleusercontent.com/dB3Dvgf3VIglusoGJAfpNUAANhTXW8K9mvIsiIPkhJUAbAKGKJcEMPTf0mkSexzLM5o=w300" alt="Card image cap">
      Movie 11
      </div>
      <div class="card" style="padding:50px;">
      <img class="card-img-top" src="https://lh3.googleusercontent.com/dB3Dvgf3VIglusoGJAfpNUAANhTXW8K9mvIsiIPkhJUAbAKGKJcEMPTf0mkSexzLM5o=w300" alt="Card image cap">
      Movie 12
      </div>
    </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators2" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators2" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  </div>-->
</div>
