
<div class="screen-tab">
  <div class="row">
    <div class="col-30">
      <h1>Popular Movies</h1>
    </div>
    <div class="col-70">
      drop down for filtering here
    </div>
  </div>
  <div *ngFor="let movie of movies; let i = index">
    <app-movie-thumbnail [currentMovie]="movie"></app-movie-thumbnail>
  </div>
  <!--<h1>Hello</h1>
  <div id="carouselExampleIndicators" class="carousel slide" data-interval="1000" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" *ngFor="let m of movies;let i = index" [attr.data-slide-to]="i" ngClass="i == 0 ? 'active' : ''"></li>

      <!--<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="card-group">
      <div *ngFor="let j of movies; let k = index" [ngClass]="k == 0 ? 'carousel-item active' : 'carousel-item'">
        <div class="card" style="padding:50px;">
        <img class="card-img-top" style=" height:90px; width:90px;" src="https://lh3.googleusercontent.com/dB3Dvgf3VIglusoGJAfpNUAANhTXW8K9mvIsiIPkhJUAbAKGKJcEMPTf0mkSexzLM5o=w300" alt="Card image cap">
        Movie {{k + 1}}
        </div>
      </div>
      </div>
      <!--<div class="carousel-item active">
        <div class="card-group">
        <div class="card" style="padding:50px;">
        <img class="card-img-top" src="https://lh3.googleusercontent.com/dB3Dvgf3VIglusoGJAfpNUAANhTXW8K9mvIsiIPkhJUAbAKGKJcEMPTf0mkSexzLM5o=w300" alt="Card image cap">
        Movie 1
        </div>
        <div class="card" style="padding:50px;">
        <img class="card-img-top" src="https://lh3.googleusercontent.com/dB3Dvgf3VIglusoGJAfpNUAANhTXW8K9mvIsiIPkhJUAbAKGKJcEMPTf0mkSexzLM5o=w300" alt="Card image cap">
        Movie 2
        </div>
        <div class="card" style="padding:50px;">
        <img class="card-img-top" src="https://lh3.googleusercontent.com/dB3Dvgf3VIglusoGJAfpNUAANhTXW8K9mvIsiIPkhJUAbAKGKJcEMPTf0mkSexzLM5o=w300" alt="Card image cap">
        Movie 3
        </div>
        <div class="card" style="padding:50px;">
        <img class="card-img-top" src="https://lh3.googleusercontent.com/dB3Dvgf3VIglusoGJAfpNUAANhTXW8K9mvIsiIPkhJUAbAKGKJcEMPTf0mkSexzLM5o=w300" alt="Card image cap">
        Movie 4
        </div>
      </div>
      </div>
      <div class="carousel-item">
        <div class="card-group">
        <div class="card" style="padding:50px;">
        <img class="card-img-top" src="https://lh3.googleusercontent.com/dB3Dvgf3VIglusoGJAfpNUAANhTXW8K9mvIsiIPkhJUAbAKGKJcEMPTf0mkSexzLM5o=w300" alt="Card image cap">
        Movie 5
        </div>
        <div class="card" style="padding:50px;">
        <img class="card-img-top" src="https://lh3.googleusercontent.com/dB3Dvgf3VIglusoGJAfpNUAANhTXW8K9mvIsiIPkhJUAbAKGKJcEMPTf0mkSexzLM5o=w300" alt="Card image cap">
        Movie 6
        </div>
        <div class="card" style="padding:50px;">
        <img class="card-img-top" src="https://lh3.googleusercontent.com/dB3Dvgf3VIglusoGJAfpNUAANhTXW8K9mvIsiIPkhJUAbAKGKJcEMPTf0mkSexzLM5o=w300" alt="Card image cap">
        Movie 7
        </div>
        <div class="card" style="padding:50px;">
        <img class="card-img-top" src="https://lh3.googleusercontent.com/dB3Dvgf3VIglusoGJAfpNUAANhTXW8K9mvIsiIPkhJUAbAKGKJcEMPTf0mkSexzLM5o=w300" alt="Card image cap">
        Movie 8
        </div>
      </div>
      </div>
      <div class="carousel-item">
        <div class="card-group">
          <div class="card" style="padding:50px;">
          <img class="card-img-top" src="https://lh3.googleusercontent.com/dB3Dvgf3VIglusoGJAfpNUAANhTXW8K9mvIsiIPkhJUAbAKGKJcEMPTf0mkSexzLM5o=w300" alt="Card image cap">
          Movie 9
          </div>
          <div class="card" style="padding:50px;">
          <img class="card-img-top" src="https://lh3.googleusercontent.com/dB3Dvgf3VIglusoGJAfpNUAANhTXW8K9mvIsiIPkhJUAbAKGKJcEMPTf0mkSexzLM5o=w300" alt="Card image cap">
          Movie 10
          </div>
          <div class="card" style="padding:50px;">
          <img class="card-img-top" src="https://lh3.googleusercontent.com/dB3Dvgf3VIglusoGJAfpNUAANhTXW8K9mvIsiIPkhJUAbAKGKJcEMPTf0mkSexzLM5o=w300" alt="Card image cap">
          Movie 11
          </div>
          <div class="card" style="padding:50px;">
          <img class="card-img-top" src="https://lh3.googleusercontent.com/dB3Dvgf3VIglusoGJAfpNUAANhTXW8K9mvIsiIPkhJUAbAKGKJcEMPTf0mkSexzLM5o=w300" alt="Card image cap">
          Movie 12
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div
  <hr>-->
  <!--<h1>Hello</h1>
  <div id="carouselExampleIndicators2" class="carousel slide" data-interval="1000" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators2" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators2" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators2" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <div class="card-group">
      <div class="card" style="padding:50px;">
      <img class="card-img-top" src="https://lh3.googleusercontent.com/dB3Dvgf3VIglusoGJAfpNUAANhTXW8K9mvIsiIPkhJUAbAKGKJcEMPTf0mkSexzLM5o=w300" alt="Card image cap">
      Movie 1
      </div>
      <div class="card" style="padding:50px;">
      <img class="card-img-top" src="https://lh3.googleusercontent.com/dB3Dvgf3VIglusoGJAfpNUAANhTXW8K9mvIsiIPkhJUAbAKGKJcEMPTf0mkSexzLM5o=w300" alt="Card image cap">
      Movie 2
      </div>
      <div class="card" style="padding:50px;">
      <img class="card-img-top" src="https://lh3.googleusercontent.com/dB3Dvgf3VIglusoGJAfpNUAANhTXW8K9mvIsiIPkhJUAbAKGKJcEMPTf0mkSexzLM5o=w300" alt="Card image cap">
      Movie 3
      </div>
      <div class="card" style="padding:50px;">
      <img class="card-img-top" src="https://lh3.googleusercontent.com/dB3Dvgf3VIglusoGJAfpNUAANhTXW8K9mvIsiIPkhJUAbAKGKJcEMPTf0mkSexzLM5o=w300" alt="Card image cap">
      Movie 4
      </div>
    </div>
    </div>
    <div class="carousel-item">
      <div class="card-group">
      <div class="card" style="padding:50px;">
      <img class="card-img-top" src="https://lh3.googleusercontent.com/dB3Dvgf3VIglusoGJAfpNUAANhTXW8K9mvIsiIPkhJUAbAKGKJcEMPTf0mkSexzLM5o=w300" alt="Card image cap">
      Movie 5
      </div>
      <div class="card" style="padding:50px;">
      <img class="card-img-top" src="https://lh3.googleusercontent.com/dB3Dvgf3VIglusoGJAfpNUAANhTXW8K9mvIsiIPkhJUAbAKGKJcEMPTf0mkSexzLM5o=w300" alt="Card image cap">
      Movie 6
      </div>
      <div class="card" style="padding:50px;">
      <img class="card-img-top" src="https://lh3.googleusercontent.com/dB3Dvgf3VIglusoGJAfpNUAANhTXW8K9mvIsiIPkhJUAbAKGKJcEMPTf0mkSexzLM5o=w300" alt="Card image cap">
      Movie 7
      </div>
      <div class="card" style="padding:50px;">
      <img class="card-img-top" src="https://lh3.googleusercontent.com/dB3Dvgf3VIglusoGJAfpNUAANhTXW8K9mvIsiIPkhJUAbAKGKJcEMPTf0mkSexzLM5o=w300" alt="Card image cap">
      Movie 8
      </div>
    </div>
    </div>
    <div class="carousel-item">
      <div class="card-group">
      <div class="card" style="padding:50px;">
      <img class="card-img-top" src="https://lh3.googleusercontent.com/dB3Dvgf3VIglusoGJAfpNUAANhTXW8K9mvIsiIPkhJUAbAKGKJcEMPTf0mkSexzLM5o=w300" alt="Card image cap">
      Movie 9
      </div>
      <div class="card" style="padding:50px;">
      <img class="card-img-top" src="https://lh3.googleusercontent.com/dB3Dvgf3VIglusoGJAfpNUAANhTXW8K9mvIsiIPkhJUAbAKGKJcEMPTf0mkSexzLM5o=w300" alt="Card image cap">
      Movie 10
      </div>
      <div class="card" style="padding:50px;">
      <img class="card-img-top" src="https://lh3.googleusercontent.com/dB3Dvgf3VIglusoGJAfpNUAANhTXW8K9mvIsiIPkhJUAbAKGKJcEMPTf0mkSexzLM5o=w300" alt="Card image cap">
      Movie 11
      </div>
      <div class="card" style="padding:50px;">
      <img class="card-img-top" src="https://lh3.googleusercontent.com/dB3Dvgf3VIglusoGJAfpNUAANhTXW8K9mvIsiIPkhJUAbAKGKJcEMPTf0mkSexzLM5o=w300" alt="Card image cap">
      Movie 12
      </div>
    </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators2" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators2" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  </div>-->
</div>