.row{
  background-color: white;
  width:100%;
}

h1{
  text-align: center;
}

.title{
  text-align: center;
}

.white-bg{
  background-color: white;
}

.col-30{
    width:40%;
    float: left;
}

.col-70{
    width:60%;
    float: right;
    text-align: right;
}

.sort-dropdown{
  background-color: #7b4397;
  color:white;
}
.sort-dropdown:hover{
  background-color: #7b4397;
  color:white;
}
.sort-dropdown:active{
  background-color: #7b4397;
  color:white;
}
.text, .icon{
  color:white;
}
.item{
  
  background-color: white;
  -webkit-text-fill-color: #7b4397;
}
.menu .item:hover{
  background-color: #7b4397;
  -webkit-text-fill-color: white;
}

.right{
  float:right;
}

.row{
    width:100%;
    height: 70px;
}

.custom {
    position: relative;
    padding-top: 0px;
    float: right;
    text-align: center;
    -webkit-transition: all 0.9s;
    transition: all 0.9s;
  }
  
  .dropdown-content {
      margin-left: -50px;
      float: right;
    position: absolute;
    background-color: white;
    width: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    display: none;
    -webkit-transition: all 0.9s;
    transition: all 0.9s;
  }

  .dropdown-content:hover{
    display: block;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width:100%;
    float: left;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
    color: blue;
    display: block;
  }
  
  .show{
    display: block;
  }
  
  .hide {
    display: none;
    -webkit-transition: all 0.9s;
    transition: all 0.9s;
  }

  .padd{
    padding: 5px;
  }

  .padd-left{
    padding-left: 40%;
    padding-top: 10px;
  }

  .header{
    padding-bottom: 30px;
  }

  .scroll{
    overflow-y: scroll;
    max-height: 1000px;
    width: 100%;
  }