.row{
  background-color: white;
  width:100%;
}

h1{
  text-align: center;
}

.title{
  text-align: center;
}

.white-bg{
  background-color: white;
}

.col-30{
    width:40%;
    float: left;
}

.col-70{
    width:60%;
    float: right;
    text-align: right;
}

.sort-dropdown{
  background-color: #7b4397;
  color:white;
}
.sort-dropdown:hover{
  background-color: #7b4397;
  color:white;
}
.sort-dropdown:active{
  background-color: #7b4397;
  color:white;
}
.text, .icon{
  color:white;
}
.item{
  
  background-color: white;
  -webkit-text-fill-color: #7b4397;
}
.menu .item:hover{
  background-color: #7b4397;
  -webkit-text-fill-color: white;
}

.right{
  float:right;
}

.row{
    width:100%;
    height: 70px;
}

.custom {
    position: relative;
    padding-top: 0px;
    float: right;
    text-align: center;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  
  .dropdown-content {
      margin-left: -50px;
      float: right;
    position: absolute;
    background-color: white;
    width: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    display: none;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }

  .dropdown-content:hover{
    display: block;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width:100%;
    float: left;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
    color: blue;
    display: block;
  }
  
  .show{
    display: block;
  }
  
  .hide {
    display: none;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }

  .padd{
    padding: 5px;
  }

  .padd-left{
    padding-left: 40%;
    padding-top: 10px;
  }

  .header{
    padding-bottom: 30px;
  }

  @media screen and (max-height:1080px){
    .screen-tab{
      min-width: 1080px;
    }
  }

  .scroll{
    overflow-y: scroll;
    max-height: 1000px;
    width: 100%;
  }

// pagination //
  .pagination {
    background: #f2f2f2;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    // margin-left: 28rem;
}

.page {
    display: inline-block;
    padding: 0px 9px;
    margin-right: 4px;
    // border-radius: 3px;
    border: none;
    background: transparent;
    box-shadow: inset 0px 1px 0px rgba(255,255,255, .8), 0px 1px 3px rgba(0,0,0, .1);
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #7b4397;
    text-shadow: 0px 1px 0px rgba(255,255,255, 1);
    cursor: pointer;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.pages{
  width:100%;
  background-color: transparent; 
  display: inline-block;
}

.number{
  border-radius: 100%;
  width:60px;
  height: 60px;
}

.page:hover, .page.gradient:hover {
    background: #7b4397;
    color:white;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    // background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FEFEFE), to(#f0f0f0));
    // background: -moz-linear-gradient(0% 0% 270deg,#FEFEFE, #f0f0f0);
}

.previous{
  position: fixed;
  margin-top: 100px;
  left:3rem;
  font-size: 50px;
  cursor: pointer;
}

.next{
  position: fixed;
  margin-top: 100px;
  right:3rem;
  font-size: 50px;
  cursor: pointer;
}

.number:hover{
  background-color: red;
}

.page.active {
    border: none;
    background: #616161;
    box-shadow: inset 0px 0px 8px rgba(0,0,0, .5), 0px 1px 0px rgba(255,255,255, .8);
    color: #f0f0f0;
    text-shadow: 0px 0px 3px rgba(0,0,0, .5);
}

.page.gradient {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f8f8f8), to(#e9e9e9));
    background: -moz-linear-gradient(0% 0% 270deg,#f8f8f8, #e9e9e9);
}