.watchlistMovies{
    // overflow-y: scroll;
    // max-height: 800px;
}

hr{
    color: #7b4397;
}

.header{
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 20px;
    color: #7b4397;
}

.empty{
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 20px;
    color: #7b4397;
}